:root {
  --clr-neutral-900: hsl(207,19%,9%);
  --clr-neutral-100: hsl(0,0%,100%);
  --clr-accent-400: hsl(142,90%,61%);

}


.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
  gap: 1.5rem;
  background: lightcyan;
  min-width: min-content;
  border-radius: 15px;
  padding: 2rem 5vw;
  box-shadow: rgba(50, 50, 93, 0.25) 15px 50px 100px -20px, rgba(184, 10, 10, 0.3) 0px 30px 60px -30px, rgba(39, 133, 228, 0.35) 0px -2px 6px 0px inset;
}


.project {
  color: var(--clr-neutral-100);
  background-size: cover;
  border-radius: 1rem;
  background-color: #0beef9;
  background-image: linear-gradient(315deg, #91f6fc 90%, #48a9fe 12%);
  overflow: hidden;
  transform: scale(1);
  transition: transform 500ms ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.project-body {
  color: black;
  font-weight: bolder;
}
.project:hover {
  transform: scale(1.02);
}

.project-content {
  padding: 1.5rem;
  background: linear-gradient(
   hsl(0 0% 0% / 1), hsl(0 0% 0% / 0 ), hsl(255 0% 50% / 0.3 ) 20%,
  );
  transform: translateY(60%);
  transition: transform 500ms ease;
  width: 100%;
  color: goldenrod;
  font-size: 1rem;
  text-align: center;
  position: relative;
}

.project-content > *:not(.project-title) {
  opacity: 0;
  transition: opacity 700ms linear;
  transition-delay: 500ms;
}

.project:hover .project-content {
  transform: translateY(-5%);
  transition-delay: 250ms;
}
.project:hover .project-content > * {
  opacity: 1;
}
.project:hover .project-sub-title::after {
  content: 'Hard';
  width: max-content;
  display: block;
  position: absolute;
  height: 10px;
  top: 4%;
  left: 1%;

}

.project:hover .medium::after {
  content: 'Medium';
  font-size: 1.5rem;
  width: max-content;
  display: block;
  position: absolute;
  height: 10px;
  top: 4%;
  left: 1%;

}

.project-title {
  position: relative;
  font-weight: bold;
  font-size: 200%;
  transform: translateY(-100px);
}

.project-title::after {
  content: '';
  position: absolute;
  height: 5%;
  width: 100%;
  background: var(--clr-accent-400);
  left: 0;
  bottom: 0;
  border-radius: 10px;
  transform: scaleX(0);

  transition: transform 1500ms ease;
}
.my-work-title {
  position: relative;

}
.my-work-title::after {
  content: '';
  height: 2px;
  position: absolute;
  width: 100%;
  display: block;
  background-color: red;
  transform: skewY(-3deg);
  border-radius: 10px;
}



.project:hover .project-title::after {
  transform: scaleX(1);
}
.sub-title-div {
  display: flex;
  justify-content: center;
}


.project-sub-title {
  font-size: 2rem;
}



.links-div {


  text-decoration: none;
  color: var(--clr-neutral-900);

  padding: .5em 2.25em;
  border-radius: .25em;
  display: flex;
  justify-content: space-around;
}

.center {
  display: flex;
  justify-content: center;
}
