*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
    outline-style: none;

}
a {
    font-size: 2.25rem;
    text-decoration: none;
}

button:focus,
a:focus,
input:focus {
    outline: none;
    border: none;
}

h4 {
    text-align: center;
}
html {
    display: block;
    justify-content: center;
    scroll-behavior: smooth;

}



:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    background: lightcyan;
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    color: var(--clr-dark);
    margin: 0 auto;
    padding: 1rem 2rem;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

h3 {
    color: goldenrod;
}

/* p {
    color: var(--clr-light);
} */
section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 30%;
}

strong { font-weight: var(--fw-bold) }

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


.section__title {
    margin-bottom: .25em;

}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
    border-radius: 10px;
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 100px;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;

    transform: translateX(100%);
    transition: transform 1500ms ease-in-out;

}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(12rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.nav__list li {
    opacity: 0;
}

.nav__list {
    list-style:  none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 1em;
    padding: 0;


}


.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;


}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
   transform: translateX(60%);
}
@media (max-width: 415px) {
    .nav-open .nav {
        transform: translateX(40%);
}
}
.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

/*  Intro section  */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
    border-radius: 30%;
    transform: translateY(-3.5rem);
}

.section__subtitle--intro {
    display: inline-block;
}
@media (max-width: 599px) {
    .intro__img {

    transform: translateY(0);
}
}
@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;

    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: center;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
        border-radius: 5px;
    }
}

/* spinning image */

@keyframes fade{
  from {
    opacity: 0;
    transform: translateX(12rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut{
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-12rem);
  }
}

.spinner-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.skills-wrapper-mobile {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    opacity: 0;
    display: none;

}

.tech-skills-div-mobile ,.tools-skills-div-mobile  {
    padding-top: 2.5rem;

}

@media only screen and (min-width: 601px) {
  .skills-wrapper-mobile, .what-i-know {
      display: none;

  }

}



/* home section */
.home-section{
    background-color: red;
    overflow: hidden;
}
.home-section .h-100{
    padding:120px 0;
}




.home-img, .home-course, .spinner {
    border-radius: 50%;
}

.home-text,
.home-img{

    padding:0 15px;
}
.home-text h1{
    font-size: 50px;
    color: khaki;
    text-transform: uppercase;
    line-height: 1.2;
}


.home-course{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;

    animation: spin 30s linear infinite;
}
.what-i-know {
    cursor: pointer;
    color: black;
    margin: 2rem auto;
    text-align: center;

}

/*  My services section  */

.my-services {
    background-color: var(--clr-dark);
    background-image: url(../img/services-bg.jpg);
    background-size: cover;
    color: var(--clr-light);
    text-align: center;
    border-radius: 10px;
    box-shadow: var(--bs);
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.services {
    margin-bottom: 4em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}


.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/* My Work */
/* .container2, .row
 {
    display: flex;
    justify-content: space-evenly;

}



.section-title {
    display: flex;
    padding-bottom: 1rem;
}
@media(max-width:575px){
    .deploy-div a {
        font-size: 1rem;
    }
    .container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px
    }
  .container {
    overflow-x: unset !important;
  }
    .my-work-item{
        width: 300px;
    }
    .my-work-item::before,
    .my-work-item::after {
        display: none;
    }
}

.my-work-section{
    background-color: lightcyan;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;

}
.my-work-item{
    min-width: 250px;
    max-width: 450px;
    background-color: rgb(109, 226, 247);
    width: calc((100% / 5) - 30px);
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    z-index: 1;
    position: relative;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);;
}
.my-work-item::before,
.my-work-item::after{
    content: '';
    position: absolute;
    border-radius: 10px;
    left:0;
    top:0;

    background-color: rgb(126, 235, 99);
    z-index: 2;
    transition: all 0.3s ease;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: var(--fw-bold);
}

.my-work-item:hover::before{
    transform: scale(1,0);

}
.my-work-item:hover::after{
    transform: scale(0,1);
}

.project-1::before,
.project-1::after{
    content: 'Hotels App (React) \f594';
    font-family: "Font Awesome 5 Free";
    text-align: center;

}
.project-2::before,
.project-2::after{
    content: 'Cocktails Recipe (Vanilla JS) \f561';
    font-family: "Font Awesome 5 Free";
}

.project-3::before,
.project-3::after{
    content: 'Calculator App (Vanilla JS) \f1ec';
    font-family: "Font Awesome 5 Free";
}
.project-4::before,
.project-4::after{
    content: 'React Chat App \f4ad';
    font-family: "Font Awesome 5 Free";
}
.project-5::before,
.project-5::after{
    content: 'React/GraphQL Todo App \f022';
    font-family: "Font Awesome 5 Free";
}
.project-6::before,
.project-6::after{
    content: 'Vanilla Music Player \f58f';
    font-family: "Font Awesome 5 Free";
}
.deploy-div {
    display: flex;
    justify-content: space-around;
} */





/* footer section */

footer {
        display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
}

.footer a {
    color: inherit;
    text-decoration: none;
}
.footer__link {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);


}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0;
    padding: 0;
}

.social-list__item {
    margin: 1.75em;
    font-size: 2rem;
}



/* contact form */

input[type=text], select, textarea, input[type=email]  {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 1rem auto;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: goldenrod;
}

.contact-form-div{

  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  box-shadow: var(--bs);

}

 /* spinnin mac book */

 .macbook {
  width: 150px;
  height: 96px;

  left: 50%;
  top: 50%;
  margin: -75px 0 0 -48px;
  perspective: 500px;
}

.inner {
  z-index: 20;
  position: absolute;
  width: 150px;
  height: 96px;
  left: 0;
  top: 0;
  transform-style: preserve-3d;
  transform:rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
  animation: rotate infinite 7s ease;
}
.screen {
  width: 150px;
  height: 96px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 7px;
  background: red;
  transform-style: preserve-3d;
  transform-origin: 50% 93px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  animation: lid-screen infinite 7s ease;
  background-image: linear-gradient(45deg, rgba(0,0,0,0.34) 0%,rgba(0,0,0,0) 100%);
  background-position: left bottom;
  background-size: 300px 300px;
  box-shadow: inset 0 3px 7px rgba(255,255,255,0.5);
}
.screen .logo {
  position: absolute;
  width: 20px;
  height: 24px;
  left: 50%;
  top: 50%;
  margin: -12px 0 0 -10px;
  transform: rotateY(180deg) translateZ(0.1px);
}
.screen .face-one {
  width: 150px;
  height: 96px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 7px;
  background: red;
  transform: translateZ(2px);
  background-image: linear-gradient(45deg,rgba(0,0,0,0.24) 0%,rgba(0,0,0,0) 100%);
}
.screen .face-one .camera {
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background: red;
  position: absolute;
  left: 50%;
  top: 4px;
  margin-left: -1.5px;
}
.screen .face-one .display {
  width: 130px;
  height: 74px;
  margin: 10px;
  border-radius: 1px;
  position: relative;
  box-shadow: inset 0 0 2px rgba(0,0,0,1);
}
.screen .face-one .display .shade {
  position: absolute;
  left: 0;
  top: 0;
  width: 130px;
  height: 74px;
  background-image: url(../img/hire.jpg);
  background-size: 300px 200px;
  background-position: 0px 0px;
}
.screen .face-one span {
  position: absolute;
  top: 85px;
  left: 57px;
  font-size: 6px;
  color: white;
}

.body {
  width: 150px;
  height: 96px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 7px;
  background: red;
  transform-style: preserve-3d;
  transform-origin: 50% bottom;
  transform: rotateX(-90deg);
  animation: lid-body infinite 7s ease;
  background-image: linear-gradient(45deg, rgba(0,0,0,0.24) 0%,rgba(0,0,0,0) 100%);
}
.body .face-one {
  width: 150px;
  height: 96px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 7px;
  transform-style: preserve-3d;
  background: #dfdfdf;
  animation: lid-keyboard-area infinite 7s ease;
  transform: translateZ(-2px);
  background-image: linear-gradient(30deg, rgba(0,0,0,0.24) 0%,rgba(0,0,0,0) 100%);
}
.body .touchpad {
  width: 40px;
  height: 31px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 4px;
  margin: -44px 0 0 -18px;
  background: #cdcdcd;
  background-image: linear-gradient(30deg, rgba(0,0,0,0.24) 0%,rgba(0,0,0,0) 100%);

}
.body .keyboard {
width: 130px;
height: 45px;
position: absolute;
left: 7px;
top: 41px;
border-radius: 4px;
transform-style: preserve-3d;
background: #cdcdcd;
background-image: linear-gradient(30deg, rgba(0,0,0,0.24) 0%,rgba(0,0,0,0) 100%);
padding: 0 0 0 2px;
}
.keyboard .key {
  width: 6px;
  height: 6px;
  background: #444;
  float: left;
  margin: 1px;
  transform: translateZ(-2px);
  border-radius: 2px;
  box-shadow: 0 -2px 0 #222;
  animation: keys infinite 7s ease;
}
.key.space {
  width: 45px;
}
.key.f {
  height: 3px;
}
.body .pad {
  width: 5px;
  height: 5px;
  background: red;
  border-radius: 100%;
  position: absolute;
}
.pad.one {
  left: 20px;
  top: 20px;
}
.pad.two {
  right: 20px;
  top: 20px;
}
.pad.three {
  right: 20px;
  bottom: 20px;
}
.pad.four {
  left: 20px;
  bottom: 20px;
}

@keyframes rotate {
  0% {
    transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
  }
  5% {
    transform: rotateX(-20deg) rotateY(-20deg) rotateZ(0deg);
  }
  20% {
    transform: rotateX(30deg) rotateY(200deg) rotateZ(0deg);
  }
  25% {
    transform: rotateX(-20deg) rotateY(360deg) rotateZ(0deg);
  }
  60% {
    transform: rotateX(-20deg) rotateY(360deg) rotateZ(0deg);
  }
  65% {
    transform: rotateX(-20deg) rotateY(120deg) rotateZ(0deg);
  }
  80% {
    transform: rotateX(-20deg) rotateY(375deg) rotateZ(0deg);
  }
  85% {
    transform: rotateX(-20deg) rotateY(357deg) rotateZ(0deg);
  }
  87% {
    transform: rotateX(-20deg) rotateY(360deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(-20deg) rotateY(360deg) rotateZ(0deg);
  }
}

@keyframes lid-screen {
  0% {
    transform: rotateX(0deg);
    background-position: left bottom;
  }
  5% {
    transform: rotateX(50deg);
    background-position: left bottom;
  }
  20% {
    transform: rotateX(-90deg);
    background-position: -150px top;
  }
  25% {
    transform: rotateX(15deg);
    background-position: left bottom;
  }
  30% {
    transform: rotateX(-5deg);
    background-position: right top;
  }
  38% {
    transform: rotateX(5deg);
    background-position: right top;
  }
  48% {
    transform: rotateX(0deg);
    background-position: right top;
  }
  90% {
    transform: rotateX(0deg);
    background-position: right top;
  }
  100% {
    transform: rotateX(0deg);
    background-position: right center;
  }
}

@keyframes lid-body {
  0% {
    transform: rotateX(-90deg);

  }
  50% {
    transform: rotateX(-90deg);

  }
  100% {
    transform: rotateX(-90deg);

  }
}

@keyframes lid-keyboard-area {
  0% {
     background-color: #dfdfdf;
  }
  50% {
    background-color: #bbb;
  }
  100% {
    background-color: #dfdfdf;
  }
}
@keyframes screen-shade {
  0% {
    background-position: -20px 0px;
  }
  5% {
    background-position: -40px 0px;
  }
  20% {
    background-position: 200px 0;
  }
  50% {
    background-position: -200px 0;
  }
  80% {
    background-position: 0px 0px;
  }
  85% {
    background-position: -30px 0;
  }
  90% {
    background-position: -20px 0;
  }
  100% {
    background-position: -20px 0px;
  }
}

.macbook {
    margin-top: 0.25em
}
